.fondo {
  width: 100%;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contenido {
  width: 1024px;
  margin: 0 auto;
  height: auto;
  text-align: left;
  background-color: rgba(138, 33, 37, 0.6);
  flex: initial;
}
.header {
  width: 100%;
  height: 80px;
  margin-top: -10px;
  background-color:#386EAD;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-self: flex-start;
  position: absolute;
}

/*------------- Menus de arriba y los menus con los videos --------------------*/

.menu {
  float: right;
  color: #8A2125;
}
.menu ul {
	list-style-type: none; /*to remove bullets*/
	text-align: center;
}
.menu li{
	float: left;
	font-size: 20px;
}

.menu li a {
	color:#ffffff;
  text-decoration:none;
  padding:15px 20px;
  display: block;
}

.menu li ul {
	float: left;
	display: none;
}

.menu li:hover > ul {
	background-color: #386EAD;
  margin-top: 20px;
	width: 80%;
	display: block;
}

li a:hover {
    background-color: #8A2125;
}

.slider {
  padding-top: 70px;
  width: 100%;
}

.banderas {
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  height: 800px;;
  flex: initial;
  color:#ffffff;
  text-decoration:none;
}
.banderas h1 {
  color:#ffffff;
  text-decoration:none;
}

.caja {
    display: flex;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 8px;
    text-align: center;

}

.modulos {
  background-size: cover;
  width: 7%;
  float: left;
}
.modulos:hover {
  background-size: cover;
  width: 7%;
  float: left;
  transform: scale(1.2,1.2);
}

.copyrigth {
  color:#ffffff;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
}
